<div class="box-item login-container">
    <form [formGroup]="loginFrm" class="login-form" action="" (ngSubmit)="doLogin()" >
    <h1 class="title-login">Đăng nhập</h1>
    <div class="input-container">
    <div class="input-warper username-input">
        <label for="username">Tên đăng nhập:</label>
        <input id="username" type="text" formControlName="txtUsername">
        <label for=""
            *ngIf="loginFrm.get('txtUsername')?.invalid && loginFrm.get('txtUsername')?.dirty"
            style="color: red;"
        >Required</label>
    </div>
    <div class="input-warper password-input">
        <label for="password">Mật khẩu:</label>
        <input id="password" type="password" formControlName="txtPassword" >
        <label for=""
            *ngIf="loginFrm.get('txtPassword')?.invalid && loginFrm.get('txtPassword')?.dirty"
            style="color: red;"
        >Required</label>
    </div>
    </div>
    <button type="submit" class="login-button">Đăng nhập</button>
    <a href="/auth/regist" class="btn btn-primary"> Đăng ký</a>  
</form>
</div>