.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.login-form {
  width: 500px;
  padding: 24px;
  background: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.title-login {
  text-align: center;
}
.input-warper input.ng-invalid.ng-dirty.ng-touched{
    border-bottom: 2px red solid;
}