<div class="header-container">
    <div class="header-left">
            <div class="header-logo-container">
        <img src="img/logo.webp" alt="logo" class="header-logo">
        <h1 class="header-title">Stock App</h1>
    </div>
    <div class="header-nav-container">
        <ul>
            <li><a [routerLink]="['/stocklist']" routerLinkActive="active-link"  [routerLinkActiveOptions]="{ exact: true }" ><mat-icon>list</mat-icon>Stock List</a></li>
            <li><a [routerLink]="['/stocklist/createstock']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" ><mat-icon>create</mat-icon>Create Stock</a></li>
        </ul>
    </div>
    </div>
    <div class="header-function-container">
        <a *ngIf="!isLogin()" class="header-function-button" [routerLink]="['/auth/login']">Login</a>
        <div class="logout-fn" *ngIf="isLogin()">
            <label for="">{{getUsername()}}</label>
                  <button matFab extended routerLink="." routerLink="/auth/login">
                <mat-icon>logout</mat-icon>
                Đăng xuất
                  </button>
        </div>
    </div>
</div>