<div class="header-container">
    <div class="header-left">
            <div class="header-logo-container">
        <img src="img/logo.webp" alt="logo" class="header-logo">
        <h1 class="header-title">Stock App</h1>
    </div>
    <div class="header-nav-container">
        <ul>
            <li><a [routerLink]="['/stocklist']" routerLinkActive="active-link"  [routerLinkActiveOptions]="{ exact: true }" >Stock List</a></li>
            <li><a [routerLink]="['/stocklist/createstock']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" >Create Stock</a></li>
        </ul>
    </div>
    </div>
    <div class="header-function-container">
        <a class="header-function-button" [routerLink]="['/login']">Login</a>
    </div>
</div>