.stock-list-container {
    margin-top: 20px;

    column-gap: 10px;

}
.view-detial-container table th{
    width: 200px;
}
.view-detial-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
.overlay
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}
.btn-close{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    
}
.search-stock{

    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.search-stock input{
    padding: 5px 10px;
    width: 300px;
}
.stock-favorite{
    display: flex;
    gap: 10px;
    width: 100%;
    overflow-x: scroll;
}