<div class="overlay" *ngIf="stockServices.isViewDetial"></div>

<div *ngIf="stockServices.isViewDetial" class="view-detial-container">
    <h1>Chi tiết Stock</h1>
    <button (click)="closeDetialDialog()" class="btn-close"><i class="bi bi-x"></i></button>
    <table  class="table">
        <tbody>
        <tr >
            <th class="table-primary" >Code:</th>
            <td>Sample</td>
        </tr>
        <tr >
            <th class="table-primary">Namee:</th>
            <td>Sample</td>
        </tr>
        <tr >
            <th class="table-primary">Previous Price:</th>
            <td>Sample</td>
        </tr>
        <tr >
            <th class="table-primary">Current Price:</th>
            <td>Sample</td>
        </tr>
        <tr >
            <th class="table-primary">Exchange:</th>
            <td>Sample</td>
        </tr>
        </tbody>
    </table>
</div>


<div class="stock-list-container">
    <!-- Truyền stockElement từ componet cha sang componet stock items -->
    <app-stock-item 
        *ngFor="let stockElement of stockList"
        
        [stock]="stockElement"
    ></app-stock-item>
</div>