.container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}


app-create-stock-reactform {
    width: 300px; 
}

/* list bên phải */
.stock-list-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; 
}