<div class="quick-btn" style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
    <button type="button" class="btn btn-primary"  (click)="isFormOpen = true">Add stock</button>
</div>
<div class="overlay" *ngIf="isFormOpen">

</div>
<div class="create-stock-container" *ngIf="isFormOpen">
    <h1 class="title-form">Create Stock (React form)</h1>
    <form  class="form-warpper" [formGroup]="createStockForm" (ngSubmit)="createStock()">
        <div class="input-warpper stock-name-input">
            <label for="stock-name" class="label-input">Stock Name</label>
            <input type="text"  formControlName="stockName" class="stock-input stock-name" placeholder="Enter stock name..." >
            <span  class="error-exception" *ngIf="createStockForm.get('stockName')?.invalid && createStockForm.get('stockName')?.dirty
             " >StockName không hợp lệ </span>
        </div>
        <div class="input-warpper stock-code-input">
            <label for="stock-code" class="label-input">Stock Code</label>
            <input type="text" id="stock-code" formControlName="stockCode" class="stock-input stock-code" name="stockCode" placeholder="Enter stock code..." >
            <span class="error-exception" *ngIf="createStockForm.get('stockCode')?.invalid && createStockForm.get('stockCode')?.dirty" >StockCode không hợp lệ </span>
        </div>
        <div class="input-warpper stock-price-input">
            <label for="stock-price" class="label-input">Stock Price</label>
            <input type="number"  formControlName="stockPrice" class="stock-input stock-price" placeholder="Enter stock price..." >
            <span for="" class="error-exception" *ngIf="createStockForm.get('stockPrice')?.invalid && createStockForm.get('stockPrice')?.dirty
             " >Stock Price không hợp lệ </span>
        </div>
        <div class="input-warpper stock-previous-price-input">
            <label for="stock-previous-price" class="label-input">Stock Previous Price</label>
            <input type="number" id="stock-previous-price" formControlName="stockLastPrice" class="stock-input stock-price"  name="stockPreviousPrice" 
            placeholder="Enter stock previous price..." >
        <span for="" class="error-exception" *ngIf="createStockForm.get('stockLastPrice')?.invalid && createStockForm.get('stockLastPrice')?.dirty
             " >Stock Last Price không hợp lệ </span>
        </div>
        <div class="checkbox-warpper" style="display: flex; gap: 10px;">
            <input type="checkbox" formControlName="isConfimmed" id="stock-is-favorite" class="checkbox-input stock-is-favorite" name="stockIsFavorite">
            <label for="stock-is-favorite"  class="label-checkbox">I confim that the infomation provided above is accurate!</label>
        </div>
        <div class="button-form-warper">
        <input [disabled]="!createStockForm.get('isConfimmed')?.value || createStockForm.invalid " type="submit" class="btn btn-success" value="Create Stock" >
        <button  class="btn btn-danger" (click)="isFormOpen=false" >Close</button>
        </div>

    </form>
        <p>debug</p>
        <p>{{createStockForm.value | json}}</p>
        <p>Is form valid: {{createStockForm.valid}}</p>
</div>