
<div class="overlay" (click)="closeDialog()" >

</div>
<div class="create-stock-container">
    <h1 class="title-form">{{title_form}}</h1>

    <form class="form-wrapper" [formGroup]="createStockForm" (ngSubmit)="submitForm()" sx="display: flex; flex-direction: column;">
        
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Stock Name</mat-label>
            <input matInput formControlName="stockName" placeholder="Enter stock name...">
            <mat-error *ngIf="createStockForm.get('stockName')?.invalid">
                Stock Name không hợp lệ
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width" [hidden]="isModifyMode">
            <mat-label>Stock Code</mat-label>
            <input matInput formControlName="stockCode" placeholder="Enter stock code...">
            <mat-error *ngIf="createStockForm.get('stockCode')?.invalid">
                Stock Code không hợp lệ
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Stock Price</mat-label>
            <input matInput type="number" formControlName="stockPrice" placeholder="Enter stock price...">
            <mat-error *ngIf="createStockForm.get('stockPrice')?.invalid">
                Stock Price không hợp lệ
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Stock Previous Price</mat-label>
            <input matInput type="number" formControlName="stockLastPrice" placeholder="Enter stock previous price...">
            <mat-error *ngIf="createStockForm.get('stockLastPrice')?.invalid">
                Stock Last Price không hợp lệ
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Stock Exchange</mat-label>
            <mat-select formControlName="stockExchange">
                <mat-option value="VNINDEX">VNINDEX</mat-option>
                <mat-option value="NSE">NSE</mat-option>
                <mat-option value="NYSE">NYSE</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="checkbox-wrapper" style="margin-bottom: 20px;">
            <mat-checkbox formControlName="isConfimmed" [disabled]="createStockForm.invalid">
                I confirm that the information provided above is accurate!
            </mat-checkbox>
        </div>

        <div class="button-form-warper" style="display: flex; gap: 10px;">
            <button mat-raised-button color="primary" type="submit" 
                [disabled]="!createStockForm.get('isConfimmed')?.value || createStockForm.invalid">
                Submit
            </button>
            <button mat-raised-button color="warn" type="button" (click)="closeDialog()">
                Close
            </button>
        </div>
    </form>
    </div>