.main
{
    /* create a new formatting context so child margins don't collapse into .main */
    display: flow-root;
    padding: 10px 10%;

    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
    object-fit: cover;
}
