<div class="login-container">

  <form [formGroup]="registFrm" (ngSubmit)="doRegist()" class="login-form">

    <h1 class="title-login">Đăng ký</h1>

    <!-- Username -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tên đăng nhập</mat-label>
      <input matInput formControlName="txtUsername">

      <mat-error *ngIf="registFrm.get('txtUsername')?.hasError('required')">
        Required
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mật khẩu</mat-label>

      <input matInput type="password" formControlName="txtPassword">


      <mat-error *ngIf="registFrm.get('txtPassword')?.hasError('required')">
        Required
      </mat-error>
    </mat-form-field>

    <!-- Re-Password -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nhập lại mật khẩu</mat-label>

      <input matInput type="password" formControlName="txtRepassword">


      <mat-error *ngIf="registFrm.get('txtRepassword')?.hasError('required')">
        Required
      </mat-error>

      <mat-error *ngIf="registFrm.hasError('notMatch')">
        Mật khẩu không khớp
      </mat-error>
    </mat-form-field>

    <!-- Button -->
    <button  mat-flat-button color="primary" type="submit">
        <mat-icon>edit</mat-icon>
      Đăng ký
    </button>

    <button mat-button routerLink="/auth/login" type="button">
      Đăng nhập
    </button>

  </form>

</div>