/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}
body{
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20240419/pngtree-stock-market-finance-business-economy-trend-graph-digital-technology-image_15664197.jpg");
}